<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete a Course</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'default/css/destroy.css' %}">
  </head>
  <body>
    <h1>Are you sure you want to delete the following course?</h1>
    <form action="/delete/{{course.id}}" method="post">
      {% csrf_token %}
      <div class="labels">
        <label for="name">Name:</label>
        <label for="description">Description:</label>
      </div>
      <div class="content">
        <p name="name">{{course.name}}</p>
        <p name="description">{{course.description}}</p>
      </div>
      <div id="buttons">
        <input type="submit" name="submit" value="No" id="no">
        <input type="submit" name="submit" value="Yes! I want to delete this" id="yes">
      </div>
    </form>
  </body>
</html>
